// 重置
@import "~@mcui/mc-reset";
// 基础
@import "~@mcui/mc-base";
// 主题
@import "components/theme@red";
@import "components/mc-btn";
@import "~mc-tinting/theme/mc-tinting@theme=default";
// @import "../../lib/theme/mc-banner@theme=aa";
@import "../../lib/theme/mc-banner@theme=ab";
// @import "../../lib/theme/mc-banner@theme=ac";
// @import "../../lib/theme/mc-banner@theme=ad";
/*焦点图*/
@import "components/bg-banner";

#banner {
  position: relative;
  width: 100%;
  height: 200px;
  color: #fff;

  // 标题
  .banner-title {
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 1rem;

    & > i {
      margin-right: 2px;
    }
  }

  // 按钮
  .banner-btn {
    margin-top: 2rem;
    white-space: nowrap;
    position: relative;
    border-radius: 2px;
    text-align: center;
    padding: 0.5em 1em;
    user-select: none;
    border: 1px solid transparent;
    background: $co-main;
    transition: all 0.1s;

    &:active {
      transform: scale3d(0.98, 0.95, 1);
    }
  }
}

.mc-banner-wrap {
  & > * {
    &:nth-child(1) {
      background: #222222;
    }
    &:nth-child(2) {
      background: #2663d4;
    }
    &:nth-child(3) {
      background: #00a000;
    }
    &:nth-child(4) {
      background: #fb6e3f;
    }
  }
}
